.img_1{
    position:absolute;
    right: 300px;
    top: 90px
}
body{
    background-color: #2B3A55;
    margin: 0;
    text-align: center;


}
div{
    background-color: #00235B;
    width: 100%;
    position: relative;
    padding-top: 50px;
    padding-bottom: 0%;

}
h1{
    color: #F2E5E5;
    padding-top: 100px;
    padding-bottom: 0%;
    font-family: 'Sacramento', cursive;
    font-size: 40px;
    margin: 60px;
}
p{
    padding-top: 0;
    color: #F2E5E5;
    font-family: 'Montserrat', sans-serif;
}
.img_2{
    padding-top: 80px;

}
.img_3{
    position: absolute;
    top: 150px;

    left: 300px;
}
    
}
hr{
    border: dotted white 6px;
    border-bottom: none;
    margin: 50px auto;
    width: 4%;
    padding-bottom: 0px;
   
}
.midpart{
    padding-top: 0%;
    background-color: #2B3A55;
}
.img_4{
    width: 10%;
    margin: 10px auto;
   
    
    
}
.about{
    
    width: 30%;
    text-align: center;
    margin: 50px auto;
    
}
.skill{
    color: aquamarine;
    margin: 0;
    font-family: 'Sacramento', cursive;
}
h3{
    display: inline-block;
    margin-right: 30px;
    background-color: #00235B;
    color:  #BAD7E9;
}
.bottom{
    background-color: #BAD7E9;
}
a{
    color: #BAD7E9;
}
